section.menu {
  width: 100%;
}
div.grid-container {
  width: var(--DefaultWidth);
  padding: 32px 0;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  height: auto;
  gap: 16px;
  justify-content: space-between;
}

@media only screen and (max-width: 700px) {
  div.grid-container {
    max-width: 100vw;
    margin: 0;
    flex-flow: column;
    align-items: center;
  }
}
