@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap");
:root {
  --primary1: #495e57;
  --primary2: #f4ce14;
  --secondary1: #ee9972;
  --secondary2: #fbdabb;
  --highlight1: #edefee;
  --highlight2: #333;

  --DisplayTitle: 64pt "Markazi Text", sans-serif;
  --Subtitle: 40pt "Markazi Text", sans-serif;
  --LeadText: 18pt "Karla", sans-serif;
  --SectionTitle: bold 20pt "Karla", sans-serif;
  --CardTitle: bold 18pt "Karla", sans-serif;
  --ParagraphText: 16pt/1.5 "Karla", sans-serif;
  --HighlightText: 16pt "Karla", sans-serif;
  --ButtonText: bold 24pt "Karla", sans-serif;

  --DefaultWidth: clamp(700px, 1000px, 1200px);
}
html * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1 {
  color: var(--primary2);
  font: var(--DisplayTitle);
}
h1.section-title {
  color: var(--highlight2);
}
h2 {
  font: var(--Subtitle);
}
p {
  font: var(--ParagraphText);
}
button {
  font: var(--ButtonText);
}
