section.history {
  padding: 16px;
  background: var(--highlight2);
}
div.about-content-wrapper,
div.content-wrapper {
  width: var(--DefaultWidth);
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
}
div.about-text {
  width: 450px;
  h1,
  .subtitle,
  p {
    color: black;
  }
}
div.about-images {
  position: relative;
  width: calc(100% - 450px);
}
.image {
  position: absolute;
  width: 250px;
  border-radius: 16px;
  height: 300px;
}
.restaurant-image {
  right: 200px;
  top: 100px;
  background: center / cover no-repeat url("/src/assets/restaurant.jpg");
}
.chef-image {
  right: 0;
  background: center / cover no-repeat url("/src/assets/restaurant_chef.jpg");
}
div.content-wrapper {
  display: flex;
  flex-flow: column;
  display: block;
}
.content-wrapper h1,
.content-wrapper p {
  color: white;
}
.content-wrapper p,
.content-wrapper p {
  padding-bottom: 30px;
}
section.future {
  background: var(--highlight1);
}
section.future div.content-wrapper h1,
section.future div.content-wrapper p {
  color: black;
}

@media only screen and (max-width: 700px) {
  div.content-wrapper {
    width: calc(100vw - 32px);
    margin: 0;
  }
  section.future,
  section.history {
    padding: 16px;
    padding-bottom: 32px;
  }
}
